<!-- <h1>Advertisers</h1> -->
<!-- <ul id="advertisers_list">
  <% @advertisers.each do |advertiser| %>
    <li><%= link_to "#{advertiser}", advertisers_show_path(advertiser) %></li>
  <% end %>
</ul>
 -->