<h1><%= @advertiser.first.advertiser_name %></h1>

<%= content_tag :div, "", id: "advertisers_chart", data: {advertiser: @advertiser} %>
<%= content_tag :div, "", id: "advertisers_chart2"%>
<%= content_tag :div, "", id: "advertisers_chart3"%>
