#advertisers_list {
  list-style: none;

}
// Advertiser Show Page

.advertiser_heading {
  text-align: center;
  margin-bottom: 40px;
  color: darkblue;
}

.chart_heading {
  text-align: center;
}
// table styling

#advertiser_table {
  border-collapse: collapse;
  margin: 50px auto 0;
  td, th {
  width: 4rem;
  height: 2rem;
  border: 1px solid #ccc;
  text-align: center;
  }
  th {
  background: lightblue;
  border-color: white;
  }
  #date {
  padding: 0 30px;
  }
}

// D3 Styling

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


// Morris Styling

// path {
//   stroke: steelblue;
//   stroke-width: 1;
//   fill: none;
// }

// .axis {
//   shape-rendering: crispEdges;
// }

// .x.axis line {
//   stroke: lightgrey;
// }

// .x.axis .minor {
//   stroke-opacity: .5;
// }

// .x.axis path {
//   display: none;
// }

// .y.axis line, .y.axis path {
//   fill: none;
//   stroke: #000;
// }