
// Advertiser Show Page
#advertisers_list {
  list-style: none;
}

#heading {
  margin-left: 20px;
}

.advertiser_heading {
  margin-bottom: 40px;
  color: darkblue;
}

.chart_heading {
  text-align: center;
}

// table styling

#advertiser_table {
  margin-top: 40px;
  td {
    text-align: center;
  }
}

///////////////////////// D3 Styling

///////// linechart

path { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}


///////// barchart

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/////////////////////// Morris Styling

// path {
//   stroke: steelblue;
//   stroke-width: 1;
//   fill: none;
// }

// .axis {
//   shape-rendering: crispEdges;
// }

// .x.axis line {
//   stroke: lightgrey;
// }

// .x.axis .minor {
//   stroke-opacity: .5;
// }

// .x.axis path {
//   display: none;
// }

// .y.axis line, .y.axis path {
//   fill: none;
//   stroke: #000;
// }